body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.MuiDataGrid-cell {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.cc_carousel-container {
  width: 250px;
}

.slick-active.slick-current + .slick-active .MuiBox-root {
  opacity: 0.5;
}

.slick-active.slick-current + .slick-active + .slick-active .MuiBox-root {
  opacity: 1;
}

.slick-active.slick-current + .slick-active + .slick-active + .slick-active .MuiBox-root {
  opacity: 0.5;
}
